<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Mars Scrape App</title>
  </head>
  <body>
    <div class="container-fluid bg-dark text-light text-center mt-2"> 
    <h1>Mission to Mars</h1>
    <a class="btn btn-light mb-2 font-weight-bold" href="/scrape" role="button">Scrape</a>
    </div>
    <h3 class = "ml-2 font-weight-bold">Latest Mars News</h3>
    <h4 class = ml-2><u>{{mars.news_title}}</u></h4>
    <h5 class = "ml-3 mb-2 font-weight-light">{{mars.news_paragraph}}</h5>

    <div class = "parent-container d-flex mt-2">
        <div class = "container ml-2 mr-2 bg-light border border-dark">
            <h3 class = ml-2>Featured Mars Image</h3>
            <img src = "{{mars.featured_image}}">
        </div>
        <div class = "container mr-2 bg-light border border-dark">
            <h4>Mars Facts</h4>
            {{mars.table_str|safe}}
        </div>
    </div>

    <!--This is the start of the gallery of hemispheres-->
    <div class="row mt-5">
      <div class="col-md-3">
        <div class="thumbnail ml-2">
            <img src="{{mars.image_urls[0]['img_url']}}" style="width:100%">
            <div class="caption">
              <p class = "text-center font-weight-bold">{{mars.image_urls[0]['title']}}</p>
            </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="thumbnail ml-2">
            <img src="{{mars.image_urls[1]['img_url']}}" style="width:100%">
            <div class="caption">
              <p class = "text-center font-weight-bold">{{mars.image_urls[1]['title']}}</p>
            </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="thumbnail ml-2">
            <img src="{{mars.image_urls[2]['img_url']}}" style="width:100%">
            <div class="caption">
              <p class = "text-center font-weight-bold">{{mars.image_urls[2]['title']}}</p>
            </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="thumbnail ml-2">
            <img src="{{mars.image_urls[3]['img_url']}}" style="width:100%">
            <div class="caption">
              <p class = "text-center font-weight-bold">{{mars.image_urls[3]['title']}}</p>
            </div>
        </div>
      </div>
    </div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>